<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.guimei.dao.AdminMapper">
    <select id="adminLogin" resultType="cn.com.guimei.pojo.SuperUser">
        select * from superuser where userLoginName=#{userLoginName} and userPassword=#{userPassword};
    </select>
    <select id="personalInfo" resultType="cn.com.guimei.pojo.SuperUser" parameterType="int">
        select * from superuser where id=#{id};
    </select>
    <update id="updateSuperUser" parameterType="cn.com.guimei.pojo.SuperUser">
        update superuser
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                userName=#{userName},
            </if>
            <if test="userPassword!=null and userPassword!=''">
                userPassword=#{userPassword},
            </if>
            <if test="userImage!=null and userImage!=''">
                userImage=#{userImage},
            </if>
        </trim>
        where id=#{id};
    </update>
</mapper>